.product_detail label{
    display:block;
    font-size: 20px;
    text-align: center;
    color:rgb(24, 23, 23);
}

.product_detail input{
    height: 25px;
    width:50%;
    border: 2px solid darkolivegreen;
    font-size: 15px;
    padding: 5px;
    align-items: center;

}

.submit_product_button{
    text-align: center;
}

.submit_product_button button{
    text-align: center;
    font-size: 20px;
    padding: 10px 40px;
    background: darkolivegreen;
    color:white;
    border: solid white;
}